.titulo1{
    text-decoration: none;
    color: white;
    font-family: 'Bokor', cursive;
    font-size: 50px;
    }

.titulo2{
    text-decoration: none;
    color: white;
    font-family: 'Bokor', cursive;
    font-size: 30px;
}

.principal{
    background-color: #1a1d1f;
    display: flex;
    }

.faq{
    width: 50%;
}

@media (min-width: 768px) and (max-width: 1199px){
    .faq{
        width: 60%;
    }
}

@media (max-width: 767px){
    .faq{
        width: 80%;
    }
}