.form-signin {
    max-width: 330px;
    padding: 15px;

  }
  
.logocuenta{
  height: 120px;
}
 
.form-check-input:checked{
  background-color: #dc3545;
  border-color: #dc3545;
}

  .bg{
    background-color:#1a1d1f;
    display: flex;
  }
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }